---
layout: default
title: Under the Brambles
head: |
  <style>
    .post-grid {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
      gap: var(--space-m);
      list-style: none;

      li {
        padding: 0;
        min-height: 200px;
      }
      a {
        padding: var(--space-m);
        border: var(--border);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        text-decoration: none;
      }
      img {
        object-fit: contain;
      }
    }

    .tag-filters {
      margin-bottom: var(--space-xl);
    }
    .month-filter-button {
      padding: .4rem .8rem;
      border: 1px solid #ccc;
      background: white;

      &.active {
        background: #333;
        color: white;
      }
    }
  </style>
---

<div class="tag-filters">
  <h2 class="h3">Preparations by month</h2>
  {% assign months = "1,2,3,4,5,6,7,8,9,10,11,12" | split: "," %}
  {% for month in months %}
    <button
      class="month-filter-button"
      data-tag="{{ month }}"
    >
      {{ month }}
    </button>
  {% endfor %}
</div>

<ul class="post-grid" role="list">
  {% for post in site.preparations %}
    <li class="post-card" data-months="{{ post.months | join: ',' }}">
      <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" width="100px" height="100px"/><span>{{ post.title }}</span></a>
    </li>
  {% endfor %}
</ul>

<script>
  var today = new Date(); //Thu Jun 18 2020 10:17:04 GMT-0300
  const currentMonth = (today.getMonth() + 1);

  const activeMonths = new Set(["1","2","3","4","5","6","7","8","9","10","11","12"]);

  const buttons = document.querySelectorAll(".month-filter-button");
  const posts = document.querySelectorAll(".post-card");

  buttons.forEach(button => {
    // Mark current month button as active
    if (button.innerHTML === currentMonth) {
      console.log(button.innerHTML);
      console.log(currentMonth);
      button.classList.add("active");
      button.ariaPressed = "true";
    }

    button.addEventListener("click", () => {
      const month = button.dataset.tag;

      // Visually show if filter buttons are active or not
      if (activeMonths.has(month)) {
        activeMonths.delete(month);
        button.classList.remove("active");
        button.ariaPressed = "false";
      } else {
        activeMonths.add(month);
        button.classList.add("active");
        button.ariaPressed = "true";
      }

      filterPosts();
    });
  });

  function filterPosts() {
    posts.forEach(post => {
      const months = post.dataset.months.split(",");

      if (activeMonths.size === 0) {
        post.style.display = "none";
        return;
      }

      // Show if the post is available in any selected month
      const matches = [...activeMonths].some(month => months.includes(month));
      post.style.display = matches ? "" : "none";
    });
  }
</script>