---
layout: default
title: Under the Brambles
head: |
  <style>
    .post-grid {
      --grid-width: 230px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--grid-width),1fr));
      gap: var(--space-m);
      list-style: none;

      li {
        display: block;
        padding: 0;
        min-height: var(--grid-width);
      }
      a {
        padding: var(--space-m);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        text-decoration: none;
      }
      img {
        object-fit: contain;
      }
    }

    .tag-filters {
      margin-bottom: var(--space-xl);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .month-filter-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      line-height: 1;
      border-radius: 100%;
      border: 2px solid transparent;
      background: none;
      padding: 1em;

      font-size: var(--font-small);
      color: var(--color-fg-mute);

      &.active {
        border-color: var(--color-fg-default);
        color: var(--color-fg-default);
        font-weight: bold;
      }
    }
  </style>
---

<div class="tag-filters">
  <h2 class="h3">Filter preparations by month</h2>
  <div>
    {% assign months = "January,February,March,April,May,June,July,August,September,October,November,December" | split: "," %}
    {% for month in months %}
    <button class="month-filter-button" data-tag="{{ forloop.index }}" aria-pressed="false" aria-label="{{ month }}">
      {{ month | truncate: 1, "" }}
    </button>
    {% endfor %}
  </div>
  {% include no-javascript-warning.html %}
</div>

<ul class="post-grid" role="list">
  {% assign sorted = site.preparations | sort:"date" | reverse %}
  {% for post in sorted %}
    <li class="post-card frame-border" data-months="{{ post.months | join: ',' }}">
      <a href="{{ post.url }}"><img src="{{ post.image }}" alt="" width="100px" height="100px"/><span>{{ post.title }}</span></a>
    </li>
  {% endfor %}
</ul>

<script>
  var today = new Date();
  const currentMonth = (today.getMonth() + 1).toString();

  // Initialize activeMonths array with current month only
  const activeMonths = new Set([currentMonth]);

  const buttons = document.querySelectorAll(".month-filter-button");
  const posts = document.querySelectorAll(".post-card");

  buttons.forEach(button => {
    // Mark current month button as active
    if (button.dataset.tag === currentMonth) {
      button.classList.add("active");
      button.ariaPressed = "true";
    }

    button.addEventListener("click", () => {
      const month = button.dataset.tag;

      // Visually show if filter buttons are active or not
      if (activeMonths.has(month)) {
        activeMonths.delete(month);
        button.classList.remove("active");
        button.ariaPressed = "false";
      } else {
        activeMonths.add(month);
        button.classList.add("active");
        button.ariaPressed = "true";
      }

      filterPosts();
    });
  });

  function filterPosts() {
    posts.forEach(post => {
      const months = post.dataset.months.split(",");

      if (activeMonths.size === 0) {
        post.style.display = "none";
        return;
      }

      // Show if the post is available in any selected month
      const matches = [...activeMonths].some(month => months.includes(month));
      post.style.display = matches ? "" : "none";
    });
  }
</script>