/* HEADER TOP SECTION */
.preparation-header {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: var(--space-l);
}
.preparation-header--image {
  flex-basis: 300px;
  height: fit-content;
}
.preparation-header--intro {
  flex: 1 1 300px;
  max-width: var(--limited-width);

  & > * {
    margin-bottom: 0.5rem;
  }
  .preparation-header--date {
    display: block;
  }
  & p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
}

/* CONTENT BOTTOM SECTION */
.preparation-content {
  margin-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  justify-content: center;
}

.preparation-content--left {
  width: 100%;
  max-width: var(--limited-width);
  flex: 1 0 50%;
  align-self: flex-start;
  top: var(--space-l);
}
.preparation-content--background {
  padding: var(--space-l) var(--space-m);
}
.preparation-content--sources {
  padding: var(--space-l) var(--space-m);
  border-top: var(--border);

  a {
    display: block;
    font-style: italic;
  }
}

.preparation-content--right {
  max-width: var(--limited-width);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h3 {
    margin-bottom: 0.5rem;
  }
  h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.preparation-content--yield { 
  display: block;
  margin-bottom: 0.5rem;;
}

.preparation-content--more-info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  li {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

.preparation-content--faq {
  details:open > summary {
    padding-bottom: var(--space-m);
  }
  details {
    display: block;
    border-bottom: var(--border);
    padding: var(--space-m) 0;
  }
}

/* UTILS */

.border-top-bottom {
  border-top: var(--border);
  border-bottom: var(--border);
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .preparation-content {
    flex-direction: row;
  }
  .preparation-content--left {
    position: sticky;

  }
}