:root {
  /* COLORS */
  --color-fg-default: #2d3322;
  --color-fg-mute: #585c44;
  --color-bg-default: #f1ffc0;
  --color-fg-strong: #f3eee7;
  --color-bg-strong: #3c4a3f;

  /* SPACES */
  --space-m: 16px;
  --space-l: 32px;
}

html {
  font-size: 18px;
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;
  font-weight: normal;
  color: var(--color-fg-default);
  background: var(--color-bg-default);
}


.site-header {
  color: var(--color-fg-strong);
  background: var(--color-bg-strong);
  padding: 2rem 1.5rem;
}

.site-title {
  font-size: 0.8rem;
  line-height: 1;
}

.site-footer {
  color: var(--color-fg-mute);
  text-align: center;
  padding: 1.5rem;
}
