---
layout: wrapper
page_type: /assets/css/preparation-page.css
---

<!-- 
  Adding recipe metadata docs: 
    - https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Global_attributes/itemscope#html 
    - https://schema.org/Recipe
-->

<article itemscope itemtype="https://schema.org/Recipe">

  <header class="preparation-header">
    <img itemprop="image" src="{{ page.image }}" class="preparation-header--image" alt=""/>
    <div class="preparation-header--intro">
      <h1 itemprop="name">{{ page.title }}</h1>
      <time class="preparation-header--date" datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      <p itemprop="description">{{ page.excerpt }}</p>
      <a href="#preparation">Jump to preparation<span aria-hidden> ↓</span></a>
    </div>
  </header>
  
  <div class="preparation-content">
    <div class="preparation-content--left typography frame-border">
      <div class="preparation-content--background">
        <h2>Background</h2>
        {{content}}
      </div>
      {% if page.sources %}
      <div class="preparation-content--sources">
        <h3 class="h4">Sources</h3>
        {%- for source in page.sources -%}
        <a href="{{ source.url }}">{{ source.name }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    
    <div id="preparation" class="preparation-content--right">
      <h2 class="visually-hidden">Preparation</h2>

      <!-- ingredients -->
      <div class="preparation-content--ingredients">
        <h3 class="h2">Ingredients</h3>
        {% if page.yield %}<span class="preparation-content--yield">For <span itemprop="recipeYield">{{ page.yield.value }} {{ page.yield.unit }}</span>:</span>{% endif %}
        <ul>
            {%- for ingredient in page.ingredients -%}
            <li itemprop="recipeIngredient" itemscope itemtype="https://schema.org/PropertyValue" class="capitalize-first-letter"><span itemprop="value">{{ ingredient["value"] }}</span>{% if ingredient["unit"] %} {{ ingredient["unit"] }}{% endif %} <span itemprop="name">{{ ingredient["name"] }}</span>{% if ingredient["optional"] %} (optional){% endif %}</li>
            {%- endfor -%}
        </ul>
      </div>

      <!-- metadata --> 
      {% if page.prepTime or page.cookTime or page.yield or page.moreInfo %}
      <div>
        <h3 class="visually-hidden">Other info</h3>
        <ul class="preparation-content--more-info" role="list">
          {% if page.prepTime %}<li><span>Preparation</span>{% include duration.html itemProp="prepTime" hour=page.prepTime.hour min=page.prepTime.min %}</li>{% endif %}
          {% if page.cookTime %}<li><span>Cooking</span>{% include duration.html itemProp="cookTime"  hour=page.cookTime.hour min=page.cookTime.min %}</li>{% endif %}
          {% if page.totalTime %}<li><span>Total time</span>{% include duration.html   hour=page.totalTime.hour min=page.totalTime.min %}</li>{% endif %}
          {% if page.moreInfo %}{%- for info in page.moreInfo -%}<li><span class="capitalize-first-letter">{{ info[0] }}</span>{{ info[1] }}</li>{%- endfor -%}{% endif %}
        </ul>
      </div>
      {% endif %}


      <!-- instructions -->
      <div itemprop="recipeInstructions">
        <h3 class="h2">Instructions</h3>
        {%- for instruction in page.instructions -%}
        {% if instruction.title %}<h4>{{ instruction.title }}</h4>{% endif %}
        <ol>
          <li>{{ instruction.steps | join: '</li><li>' }}</li>
        </ol>
        {%- endfor %}
      </div>

      <!-- faq -->
      <div class="preparation-content--faq">
        <h2>FAQ</h2>
        {%- for item in page.faq -%}
        <details>
          <summary>{{ item.question }}</summary>
          {{ item.answer }}
        </details>
        {%- endfor %}
      </div>
    </div>
  </div>
</article>