<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if layout.page_type %}
      <link rel="stylesheet" href="{{ layout.page_type | relative_url }}">
    {% endif %}
    <!-- fonts -->
    <!-- TODO: store files locally -->
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">  </head>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png?v=v1" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=v1" />
    <link rel="shortcut icon" href="/favicon.ico?v=v1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=v1" />
    <link rel="manifest" href="/site.webmanifest?v=v1" />
  <body>
    <header class="site-header">
      <a href="/" tabindex="-1" aria-hidden><img class="logo" src="/assets/images/logo.png" /></a>
      <div>
        <h1><a href="/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="site-footer">
      <nav class="site-nav">
        <a href="/about/">About</a>
        <a href="/posts/">Posts</a>
      </nav>
      <p>© 2026 Under the Brambles. All rights reserved.</p>
    </footer>
  </body>
</html>
